
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #f0f0f0;
}

/* Heading Styles */
.heading {
  text-align: center;
  margin-bottom: 20px;
}


.columns {
  display: flex;
  gap: 10px;
}

.column {
  flex: 1;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.column-title {
  font-size: 20px;
  margin-bottom: 10px;
}


.task-list {
  max-height: 300px; /* Set maximum height for the task list */
  overflow-y: auto; /* Add scroll when content exceeds maximum height */
}


.add-task {
  margin-top: 15px;
}

.add-task-button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #f0f0f0;
  color: #333;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-task-button:hover {
  background-color: #e0e0e0;
}

.add-task-form {
  margin-top: 10px;
}

.add-task-form input[type="text"],
.add-task-form button {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  width: 100%;
  box-sizing: border-box; 
}

.add-task-form button {
  margin-top: 10px;
  background-color: #00ccff;
  color: #fff;

  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-task-form button:hover {
  background-color: #0056b3;
}


.task-item {
  background-color: #ffffff;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.task-text {
  font-weight: bold;
}


.task-icons {
  margin-top: 5px;
}

.task-icons button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-right: 5px;
}

.task-icons button:hover {
  color: #007bff;
}

.task-details,
.task-comments {
  margin-top: 10px;
  padding: 10px;
  background-color: #f8f9fa;
  border-radius: 4px;
}
